
.button {
  width: 120px;
  height: 48px;

  cursor: pointer;
  border: 0 none;
  background: var(--headerButtonsBg);
  border: 1px solid var(--colorMainTransparent);

  transition: transform 0.1s ease;

  display: flex;
}

.icon {
  margin: auto;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.9);
}
