<div class="stats-wrapper">
  <div class="health">
    <div class="label">Health</div>
    <div class="value">
      @for (healthPoint of health; track $index) {
        <app-icon class="value-icon" [name]="healthPoint | statsHealthIcon" (click)="onHealthIconCLick($index)"></app-icon>
      }
    </div>
  </div>

  <div class="willpower">
    <div class="label">Willpower</div>
    <div class="value">
      <app-icon class="value-icon" (click)="onWillpowerIconClick(index)" *ngxRepeat="character.maxWillpower; let index = index" [name]="index < willpower ? icons.PointFilled : icons.PointCrossed"></app-icon>
    </div>
  </div>

  <div class="integrity">
    <div class="label">Integrity</div>
    <div class="value">
      <app-icon class="value-icon" (click)="onIntegrityIconClick(index)" *ngxRepeat="character.maxIntegrity; let index = index" [name]="index < integrity ? icons.PointFilled : icons.PointCrossed"></app-icon>
    </div>
  </div>
</div>
