:host {
  display: block;
  height: 100%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-wrapper {
  width: 100%;
  border-bottom: 1px solid var(--layoutBorderColor);
}

.form-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  margin: 0;
  font-size: 36px;
}

.form-submit {
  display: inline-block;
  width: 480px;
  margin: 0 auto;
  padding: 2px;
  background-color: var(--inputSubmitBg);
  background-clip: content-box;
  color: var(--colorBtn);
  text-align: center;
  font-size: 36px;
  line-height: 66px;
  border: 1px solid var(--colorMainTransparent);
  outline: 1px;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.form-submit:active {
  background-color: var(--inputSubmitBgPressed);
}

.form-submit:hover {
  background-color: var(--inputSubmitBgHovered);
}

.form-control:first-of-type {
  margin-top: 60px;
}
.form-control:last-of-type {
  margin-bottom: 60px;
}

.form-control {
  margin: 20px 0;
  position: relative;
}

.form-control input {
  display: block;
  width: 480px;
  padding: 25px 27px;

  background-color: var(--inputControlBg);
  box-shadow: none;
  border: none;
}

.show-password {
  position: absolute;
  right: 24px;
  top: 24px;
}
