<div class="main-wrapper">
  <div class="header-wrapper">
    <app-header></app-header>
    <app-theme-button class="theme-button"></app-theme-button>
  </div>

  <ul class="characters-list">
    @for (character of characters$ | async; track character.id) {
      <li class="character-item">
        <a [routerLink]="character.id">
          <div class="character-image">
            <img src="/images/{{character.imageUrl}}">
          </div>

          <div class="character-info">
            <div class="character-name">
              <span>{{character.name}}</span>
            </div>
            <div class="player-name">
              {{character.playerName}}
            </div>
          </div>
        </a>
      </li>
    }
  </ul>
</div>
