:host {
  display: block;
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-wrapper {
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--layoutBorderColor);
}

.theme-button {
  position: absolute;
  top: calc(50% - 24px);
  right: 29px;
}

.characters-list {
  list-style-type: none;
  padding: 16px 0;
  margin: auto;
  display: flex;
  gap: 64px;
  align-items: center;
}

.character-item {
  width: 262px;
}

.character-item a {
  text-decoration: none;
}

.character-image {
  border: 1px solid var(--colorMain);
  transition: background-color 0.1s linear;
}

.character-image img {
  width: 100%;
  transform: translate(-16px, -16px);
}

.character-image:hover {
  background: linear-gradient(transparent, var(--colorMain));
}

.character-info {
  font-size: 24px;
}

.character-name {
  padding: 17px 0;
  margin: 31px 0 17px;
  border-top: 1px solid var(--colorMain);
  border-bottom: 1px solid var(--colorMain);
  color: var(--colorSec);
}

.character-name span {
  display: inline-block;
  width: 160px;
}

.character-info {
  text-decoration: none;
  text-align: center;
}
