.merits-wrapper {
  padding: 12px;
}

.merits-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.merits-header {
  font-size: var(--fontSize);
  color: var(--colorSec);
  text-align: center;
  margin: 0 0 10px;
}

.merit-item:not(:last-child) {
  margin-bottom: 3px;
}
