<div class="character-sheet-wrapper">
  @let character = character$ | async;

  <div class="header">
    <div class="header-content">
      <a routerLink="/">
        <app-header></app-header>
      </a>
    </div>
  </div>
  <div class="navigation">
    <div class="navigation-section">
      <ul class="navigation-items">
        @for (character of characters$ | async; track character.id) {
          <li class="navigation-item" >
            <a routerLinkActive="active" [routerLink]="['/', character.id]">{{ character.playerName }}</a>
          </li>
        }
      </ul>

      <div class="controls">
        @if (!isLoading && isChanged && character && !isSaving) {
          <button (click)="onSave(character.id)" class="control control-save">
            <app-icon class="control-icon" [name]="icons.Save"></app-icon>
          </button>
          <button (click)="onRevert()" class="control control-revert">
            <app-icon class="control-icon" [name]="icons.Revert"></app-icon>
          </button>
        } @else if (isSaving) {
          <div class="saving-loader">
            Saving...
          </div>
        }
        <app-theme-button class="theme-button"></app-theme-button>
      </div>
    </div>
  </div>
  <div class="info">

    @if(!isLoading && character) {
      <div class="info-section">
        <div class="character-image">
          <img src="/images/{{character.imageUrl}}">
        </div>
        <div class="character-name">
          {{ character.name }}
        </div>
        <div class="character-age">
          <span>{{ character.age }}</span> y.o.
        </div>

        <div class="info-table">
          <table>
            <tr>
              <td class="info-table-label">Virtue</td>
              <td class="info-table-value">{{ character.virtue }}</td>
            </tr>
            <tr>
              <td class="info-table-label">Vice</td>
              <td class="info-table-value">{{ character.vice }}</td>
            </tr>
            <tr>
              <td class="info-table-label">Concept</td>
              <td class="info-table-value">{{ character.concept }}</td>
            </tr>
          </table>
        </div>
      </div>
    }
  </div>
  <div class="sheet">
    @if (!isLoading && character) {
      <div class="sheet-wrapper">
        <div class="section">
          <div class="section-row">
            <div class="section-column stats">
              <app-stats [character]="character!" (statsChange)="onStatsChange($event)"></app-stats>
            </div>
            <div class="section-column merits">
              <app-merits [character]="character" (meritsChange)="onMeritsChange($event)"></app-merits>
            </div>
            <div class="section-column">
              <app-stats-additional [character]="character" (statsAdditionalChange)="onStatsAdditionalChange($event)"></app-stats-additional>
            </div>
          </div>
        </div>
        <section class="section attributes">
          <h3 class="section-header">Attributes</h3>
          <div class="section-row">
            <div class="section-column">
              <app-skill-set [skillSet]="character.attributes.mental" [editable]="true" [increaseCost]="attributesIncreaseCost"></app-skill-set>
            </div>
            <div class="section-column">
              <app-skill-set [skillSet]="character.attributes.physical" [editable]="false" [increaseCost]="attributesIncreaseCost"></app-skill-set>
            </div>
            <div class="section-column">
              <app-skill-set [skillSet]="character.attributes.social" [editable]="false" [increaseCost]="attributesIncreaseCost"></app-skill-set>
            </div>
          </div>
        </section>

        <section class="section skills">
          <h3 class="section-header">Skills</h3>
          <div class="section-row">
            <div class="section-column">
              <app-skill-set [skillSet]="character.skills.mental" [editable]="true" [increaseCost]="skillIncreaseCost" (skillSetChange)="onSkillSetChange('mental', $event)"></app-skill-set>
            </div>
            <div class="section-column">
              <app-skill-set [skillSet]="character.skills.physical" [editable]="true" [increaseCost]="skillIncreaseCost" (skillSetChange)="onSkillSetChange('physical', $event)"></app-skill-set>
            </div>
            <div class="section-column">
              <app-skill-set [skillSet]="character.skills.social" [editable]="true" [increaseCost]="skillIncreaseCost" (skillSetChange)="onSkillSetChange('social', $event)"></app-skill-set>
            </div>
          </div>
        </section>
      </div>
    } @else {
      <div class="loader">
        Loading...
      </div>
    }
  </div>
</div>
