:host {
  --layoutBorder: 1px solid var(--layoutBorderColor);
}

.character-sheet-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 66px 1fr;
  grid-template-areas:
    "header navigation"
    "info sheet";
}

.header {
  grid-area: header;
  border-bottom: var(--layoutBorder);
  border-right: var(--layoutBorder);
  display: flex;
  justify-content: flex-end;
}

.header-content {
  width: 330px;
  margin-right: 58px;
}

.navigation {
  grid-area: navigation;
  border-bottom: var(--layoutBorder);
  border-left: var(--layoutBorder);
  font-size: var(--fontSize);
}

.navigation-section {
  width: 1028px;
  display: flex;
  align-items: center;
  height: 100%;
}

.info {
  grid-area: info;
  border-top: var(--layoutBorder);
  border-right: var(--layoutBorder);
  padding: 41px 58px;
  display: flex;
  justify-content: flex-end;
}

.sheet {
  grid-area: sheet;
  border-top: var(--layoutBorder);
  border-left: var(--layoutBorder);

  overflow: auto;
}

/* Navigation section */
.navigation-items {
  padding: 0;
  margin: 0 49px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 64px;
  list-style-type: none;
}

.navigation-item a {
  text-decoration: none;
  color: var(--colorMain);
}

.navigation-item a:visited {
  color: inherit;
}

.navigation-item a.active {
  color: var(--colorSec);
}

.navigation .controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation .control {
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 0;
  border: 1px solid var(--colorMainTransparent);
  cursor: pointer;
  display: flex;

  transition: transform 0.1s ease;
}

.navigation .control:active {
  transform: scale(0.9);
}

.navigation .control-icon {
  margin: auto;
}

.navigation .control-save .control-icon {
  height: 24px;
}

.navigation .saving-loader {
  margin-left: auto;
}

/* Info section */
.info-section {
  width: 300px;
}

.character-image {
  border: 1px solid var(--colorMain);
}

.character-image img {
  width: 100%;
  transform: translate(-16px, -16px);
}

.character-name {
  margin: 15px 0 13px;
  font-size: 48px;
  line-height: 1;
  color: var(--colorSec);
  font-family: var(--fontLight);
}

.character-age {
  color: var(--colorSec);
  font-size: var(--fontSizeSec);
  margin: 13px 0 22px;
}

.info-table {
  font-size: var(--fontSizeSec);
  line-height: 1.5;
}

.info-table-label {
  min-width: 120px;
}

.info-table-value {
  color: var(--colorSec);
}

/* character sheet section */
.loader {
  margin: 20px 30px;
}

.sheet-wrapper {
  padding: 26px 50px 0;
}

.section-row {
  display: flex;
  gap: 25px;
}

.section-column {
  width: 304px;
}
.section {
  margin: 22px 0;
}

.section-header {
  margin: 0 0 10px;
  font-size: var(--fontSize);
  color: var(--colorSec);
  text-align: center;
}
