<div class="stats-additional-wrapper">
  <ul class="stats-list">
    @for (statsItem of statslist; track statsItem.key) {
      <li class="stats-item">
        <div class="label">{{ statsItem.label }}</div>
        <div class="value">{{ character[statsItem.key] }}</div>
      </li>
    }
    <li class="stats-item">
      <div class="label">Armor</div>
      <div class="value value-armor">
        <span class="armor">
          <app-icon class="armor-icon" [name]="icons.Melee"></app-icon>
          <span class="armor-value">{{ armor.melee }}</span>
          <span class="armor-controls">
            <app-icon class="armor-control effect-pulse armor-increase" (click)="updateArmor('melee', +1)" [name]="icons.Increase"></app-icon>
            <app-icon class="armor-control effect-pulse armor-decrease" (click)="updateArmor('melee', -1)" [name]="icons.Decrease"></app-icon>
          </span>
        </span>
        <span class="armor">
          <app-icon class="armor-icon" [name]="icons.Ranged"></app-icon>
          <span class="armor-value">{{ armor.ranged }}</span>
          <span class="armor-controls">
            <app-icon class="armor-control effect-pulse armor-increase" (click)="updateArmor('ranged', +1)" [name]="icons.Increase"></app-icon>
            <app-icon class="armor-control effect-pulse armor-decrease" (click)="updateArmor('ranged', -1)" [name]="icons.Decrease"></app-icon>
          </span>
        </span>
      </div>
    </li>
    <li class="stats-item">
      <div class="label">Beats</div>
      <div class="value">
        <div class="beats">
          <app-icon class="beat-icon" (click)="onBeatClick(index)" *ngxRepeat="maxBeats; let index = index" [name]="index < beats ? icons.PointFilled : icons.PointEmpty"></app-icon>
        </div>
      </div>
      @if (beats === maxBeats) {
        <button (click)="onRaiseClick()" class="raise">
          <app-icon class="raise-icon" [name]="icons.Raise"></app-icon>
        </button>
      }
    </li>
    <li class="stats-item">
      <div class="label">Experience</div>
      <div class="value">{{ experience$ | async }}</div>
    </li>
  </ul>
</div>
