@font-face {
  font-family: 'KyivTypeSerif-Regular2';
  src: url('/fonts/KyivTypeSerif-Regular2.otf');
}

@font-face {
  font-family: 'KyivTypeSerif-Light';
  src: url('/fonts/KyivTypeSerif-Light.otf');
}

@font-face {
  font-family: 'KyivTypeSerif-Medium3';
  src: url('/fonts/KyivTypeSerif-Medium3.otf');
}

body {
  --fontMain: 'KyivTypeSerif-Regular2', serif;
  --fontLight: 'KyivTypeSerif-Light', serif;
  --fontMedium: 'KyivTypeSerif-Medium3', serif;
}
