/* You can add global styles to this file, and also import other style files */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontMain);
  color: var(--colorMain);

  background: var(--mainBg);
  background-position: center center;
  background-size: cover;
}

.app-wrapper {
  height: 100%;

  background-color: var(--mainBgColor);
  transition: background-color 0.1s ease;
}

/* Pulse effect on hover and active states */
.effect-pulse {
  transition: transform 0.1s ease;
}
.effect-pulse:hover {
  transform: scale(1.2);
}
.effect-pulse:active {
  transform: scale(0.9);
}
