body {
  --colorMain: #786656;
  --colorSec: #3C210D;
  --colorBtn: #ffffff;
  --inputControlBg: #9f9a943f;
  --inputSubmitBg: #3C210D80;
  --layoutBorderColor: #3C210D29;
  --inputSubmitBgPressed: #221913;
  --inputSubmitBgHovered: #C0B3AA;
  --colorMainTransparent: #78665680;

  --headerHeight: 66px;

  --fontSize: 24px;
  --fontSizeSec: 18px;
  --buttonFontSize: 36px;
  --captionFontSize: 14px;
}
